div.toolbar {
    display: flex;
    height: 2em;
    padding: 1em;
    margin-bottom: 1em;
}

.toolbar.end {
    align-items: flex-end;
    justify-content: flex-end;
}
.toolbar.primary {
    background-color: var(--primary);
}

.toolbar.secondary {
    background-color: var(--secondary);
}